* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.App {
	display: flex;
	width: 100vw;
	height: 100vh;
	margin: auto;
	flex-direction: column;
}

h1 {
	margin: auto;
}

.flipbook {
	margin: auto;
}

.frontPage {
	display: flex;
	flex-direction: row;
}

.frontPage-left,
.frontPage-right,
.photoPage,
.hidden-page {
	display: flex !important;
	margin: auto;
	/* overflow: hidden; */
}

.frontPage-left,
.frontPage-right {
	background-color: #f2a65a;
}

.frontPage-left {
	flex-direction: row;
	flex-wrap: nowrap;

	box-shadow: -15px 10px 50px #888888;
}

.typewriter {
	display: flex;
	width: 45vw;
	margin-left: 3%;
}

.frontPage-right {
	box-shadow: 15px 10px 50px #888888;
}

.hidden-page {
	background-color: white;
}

.left-bar {
	display: flex;
	height: 100%;
	width: 10%;
	background-color: #585123;
}

.left-bar-hidden {
	display: flex;
	height: 100%;
	width: 10%;
	background-color: transparent;
}

.photoPage {
	background-image: url("../../../public/paper-background.jpg");
	box-shadow: 5px 10px 50px #888888;
	flex-direction: column;
	margin-top: 0px;
}

@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

.wrapper {
	height: 40%;
	width: 45vw;
	color: #d83200;
	font-family: "Major Mono Display", monospace;
	margin-top: 5%;
}

.line__1,
.line__2 {
	white-space: nowrap; /* keep text in one line */
	overflow: hidden; /* hide text behind the cursor */
	margin-left: 0px;
	font-family: "Major Mono Display", monospace;
	font-size: 3vw;
	font-weight: bold;
}

.line__1 {
	border-right: 2px solid rgba(17, 17, 17, 0.9);

	/* define animation types for text + cursor */
	animation: animated-text__1 3s steps(30, end) 1s 1 normal both,
		animated-cursor__1 900ms steps(30, end) 8;
}

.line__2 {
	border-right: 2px solid rgba(17, 17, 17, 0.9);

	/* define animation types for text + cursor */
	animation: animated-text__2 2s steps(30, end) 1s 1 normal both,
		animated-cursor__2 900ms steps(30, end) infinite;
	-webkit-animation-delay: 4s;
	animation-delay: 4s;
}

@keyframes animated-cursor__1 {
	from {
		border-right-color: rgba(17, 17, 17, 0.9);
	}
	to {
		border-right-color: rgba(255, 255, 255, 0.8);
	}
}

@keyframes animated-cursor__2 {
	from {
		border-right-color: rgba(17, 17, 17, 0.9);
	}
	to {
		border-right-color: rgba(255, 255, 255, 0.8);
	}
}

@keyframes animated-text__1 {
	from {
		width: 0;
	}
	to {
		width: 45vw;
	}
}

@keyframes animated-text__2 {
	from {
		width: 0;
	}
	to {
		width: 35vw;
	}
}

.animate-charcter {
	text-transform: uppercase;
	background-image: linear-gradient(
		-225deg,
		#231557 0%,
		#44107a 29%,
		#ff1361 67%,
		#fff800 100%
	);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 2s linear infinite;
	display: inline-block;
	font-size: 8em;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

.cat-animation-container {
	height: 530px;
	width: 350px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: visible;
}

.window {
	width: 250px;
	height: 390px;
	background-color: #28467a;
	outline: 12px solid #2d2623;
	border-left: 5px solid #439abf;
	border-right: 5px solid #439abf;
	position: relative;
	top: 20px;
	left: 45px;
	overflow: visible;
}

.window:before,
.window:after {
	content: "";
	position: absolute;
	background: linear-gradient(#439abf 50%, #2d2623 50%);
}

.window:after {
	height: 15px;
	width: 260px;
	left: -5px;
	top: 200px;
}

.window:before {
	height: 15px;
	width: 310px;
	left: -30px;
	bottom: -15px;
}

.mountain-1 {
	height: 0;
	width: 0;
	border-bottom: 60 solid #22366d;
	border-right: 20px solid transparent;
	position: absolute;
	bottom: 0;
	overflow: visible;
}

.mountain-2 {
	position: absolute;
	height: 0;
	width: 0;
	border-bottom: 60px solid #22366d;
	border-left: 20px solid transparent;
	right: 0;
	bottom: 0;
	overflow: visible;
}

.mountain-1:before,
.mountain-1:after,
.mountain-2:before {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	border-bottom: 60px solid #22366d;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
}

.mountain-1:before {
	bottom: 0px;
	left: 5px;
}

.mountain-1:after {
	bottom: 0px;
	left: 35px;
}

.mountain-2:before {
	bottom: -60px;
	right: 10px;
}

.kitty {
	background-color: #2d2623;
	height: 140px;
	width: 50px;
	position: absolute;
	bottom: -15px;
	left: 95px;
	border-radius: 40px 40px 0 0;
	overflow: visible;
}

.kitty:before {
	content: "";
	position: absolute;
	background-color: #2d2623;
	height: 80px;
	width: 40px;
	border-radius: 0 80px 80px 0;
	bottom: 0;
	left: 43px;
}

.kitty:after {
	content: "";
	position: absolute;
	background-color: #2d2623;
	height: 80px;
	width: 10px;
	border-radius: 5px;
	bottom: -70px;
	left: 45px;
	transform: rotate(-15deg);
	transform-origin: top;
	animation: tail 4s infinite;
}

@keyframes tail {
	50% {
		transform: rotate(10deg);
	}
}

.ear {
	height: 0;
	width: 0;
	border-bottom: 40px solid #2d2623;
	border-right: 33px solid transparent;
	position: relative;
	bottom: 12px;
	overflow: visible;
}

.ear:before {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	border-bottom: 40px solid #2d2623;
	border-left: 33px solid transparent;
	bottom: -40px;
	left: 17px;
}

.moon {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background-color: transparent;
	box-shadow: -15px 8px 0 1px #e8ae4a;
	position: absolute;
	left: 50px;
	top: 60px;
}

.star {
	background-color: #e8ae4a;
	height: 6px;
	width: 6px;
	border-radius: 50%;
	position: absolute;
	top: 30px;
	left: 140px;
	box-shadow: 80px 65px #e8ae4a,
	-120px 150px #e8ae4a,
	-80px 280px #e8ae4a,
	70px 235px #e8ae4a,
	40px 135px #e8ae4a;
	animation: twinkle 2s infinite;
}

@keyframes twinkle {
	50% {
		opacity: 0.4;
	}
}